<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .isFinish{
      color: green;
      background-color: white;
      border: 1px solid black;
    }
  </style>
</head>
<body>
    <div id="app" class="container">
        <!-- v-model 原理-->
        <!-- <input type="text" :value="value" @input="e => value = e.target.value"> -->
        <div class="row">
            <div class="col-md-7">
                <div class="from-group">
                    <h1>添加工作事项</h1>
                    <input type="text" class="form-control" v-model="newItem" @keyup.enter="addItem">
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">工作清单：</a>
                    <a href="#" class="list-group-item" v-for="(item,index) in itemList">
                        <span>{{index+1}}：</span>
                              {{item.title}}
                              <span class="badge" @click="removeItem(index)">
                                  <i class="glyphicon glyphicon-remove"></i>
                              </span>
                              <span class="badge" :class="{isFinish:item.isFinish}" @click="toggleItem(item)">
                                  <i class="glyphicon glyphicon-ok"></i>
                              </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script>
             var LBC = (function(){
                 return{
                     add(value){
                         localStorage.setItem('todoList',JSON.stringify(value))
                     },
                     get(){
                         return JSON.parse(localStorage.getItem('todoList'));
                     },
                     remove(){
                         localStorage.removeItem('todoList');
                     }
                 }
             })();
             var vm = new Vue({
                 el:'#app',
                 data:{
                     newItem:'',
                     itemList:LBC.get() || [],
                 },
                 methods:{
                     addItem(){
                         var item = {
                             id:this.itemList.length + 1,
                             title:this.newItem,
                             isFinish:false
                         }
                         this.itemList.push(item);
                         LBC.add(this.itemList);
                         this.newItem = '';
                     },
                     removeItem(index){
                        this.itemList.splice(index,1);
                        LBC.add(this.itemList);
                     },
                     toggleItem(item){
                        item.isFinish = !item.isFinish;
                        LBC.add(this.itemList);
                     }
                 }
             })
        </script>
</body>
</html>